<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div id="header">
            <h1>Easy Doc Db</h1>
            <ul id="navlist">
                <li class="first"> @Html.ActionLink("Home", "index", "Home") </li>

                <li>@Html.ActionLink("Users", "index", "Users")</li>
            </ul>
        </div>


        @RenderBody()
    </div>
</body>
</html>
